@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

  .button {
    outline-color: transparent !important;
  }
  /* remove focus border */
  input:focus {
    box-shadow: transparent !important;
    border-color: transparent !important;
  }
  /* remove focus border */
  a:focus-visible {
    outline: transparent !important;
    text-decoration: underline !important;
  }
}

/* hide emulators bottom caution */
.firebase-emulator-warning {
  display: none;
}
